<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Comma</key>
  <string>C_omma.glif</string>
  <key>ExclamationMrk</key>
  <string>E_xclamationM_rk.glif</string>
  <key>FullStop</key>
  <string>F_ullS_top.glif</string>
  <key>TifConsLengthMark</key>
  <string>T_ifC_onsL_engthM_ark.glif</string>
  <key>TifLig-ghht.alt.rtl</key>
  <string>T_ifL_ig-ghht.alt.rtl.glif</string>
  <key>TifLig-ghht.rtl</key>
  <string>T_ifL_ig-ghht.rtl.glif</string>
  <key>TifLig-yt</key>
  <string>T_ifL_ig-yt.glif</string>
  <key>TifLig-yt.rtl</key>
  <string>T_ifL_ig-yt.rtl.glif</string>
  <key>TifLtrTuarYaw.super</key>
  <string>T_ifL_trT_uarY_aw.super.glif</string>
  <key>TifLtrYaghh</key>
  <string>T_ifL_trY_aghh.glif</string>
  <key>TifLtrYaghh.alt.unused</key>
  <string>T_ifL_trY_aghh.alt.unused.glif</string>
  <key>TifLtrYal.raised</key>
  <string>T_ifL_trY_al.raised.glif</string>
  <key>TifLtrYan.raised</key>
  <string>T_ifL_trY_an.raised.glif</string>
  <key>TifLtrYan.slant.rtl</key>
  <string>T_ifL_trY_an.slant.rtl.glif</string>
  <key>TifLtrYay.rtl</key>
  <string>T_ifL_trY_ay.rtl.glif</string>
  <key>TifLtrYay.super</key>
  <string>T_ifL_trY_ay.super.glif</string>
  <key>TifLtrYay.super.rtl</key>
  <string>T_ifL_trY_ay.super.rtl.glif</string>
  <key>TifLtrYi.rtl</key>
  <string>T_ifL_trY_i.rtl.glif</string>
  <key>TifLtrYi.super.rtl</key>
  <string>T_ifL_trY_i.super.rtl.glif</string>
  <key>TifPuncTazarast</key>
  <string>T_ifP_uncT_azarast.glif</string>
</dict>
</plist>
