<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>TifConsLengthMark</key>
  <string>T_ifC_onsL_engthM_ark.glif</string>
  <key>_VerticalBarMedLong</key>
  <string>_V_erticalB_arM_edL_ong.glif</string>
  <key>separator-tifi</key>
  <string>separator-tifi.glif</string>
  <key>separator-tifi.rtl</key>
  <string>separator-tifi.rtl.glif</string>
  <key>yab-tifi</key>
  <string>yab-tifi.glif</string>
  <key>yabyatLig-tifi</key>
  <string>yabyatL_ig-tifi.glif</string>
  <key>yabyatLig-tifi.v01</key>
  <string>yabyatL_ig-tifi.v01.glif</string>
  <key>yafyatLig-tifi.v01.rtl</key>
  <string>yafyatL_ig-tifi.v01.rtl.glif</string>
  <key>yaghh-tifi.v01.unused</key>
  <string>yaghh-tifi.v01.unused.glif</string>
  <key>yaghhyatLig-tifi.rtl</key>
  <string>yaghhyatL_ig-tifi.rtl.glif</string>
  <key>yaghhyatLig-tifi.v01.rtl</key>
  <string>yaghhyatL_ig-tifi.v01.rtl.glif</string>
  <key>yah-tifi</key>
  <string>yah-tifi.glif</string>
  <key>yahh-tifi</key>
  <string>yahh-tifi.glif</string>
  <key>yahyatLig-tifi</key>
  <string>yahyatL_ig-tifi.glif</string>
  <key>yak-tifi</key>
  <string>yak-tifi.glif</string>
  <key>yakhh-tifi</key>
  <string>yakhh-tifi.glif</string>
  <key>yal-tifi.raised</key>
  <string>yal-tifi.raised.glif</string>
  <key>yal-tifi.slant.rtl</key>
  <string>yal-tifi.slant.rtl.glif</string>
  <key>yamyatLig-tifi.v01.rtl</key>
  <string>yamyatL_ig-tifi.v01.rtl.glif</string>
  <key>yan-tifi.raised</key>
  <string>yan-tifi.raised.glif</string>
  <key>yan-tifi.slant</key>
  <string>yan-tifi.slant.glif</string>
  <key>yan-tifi.slant.rtl</key>
  <string>yan-tifi.slant.rtl.glif</string>
  <key>yaq-tifi</key>
  <string>yaq-tifi.glif</string>
  <key>yaryatLig-tifi.v01</key>
  <string>yaryatL_ig-tifi.v01.glif</string>
  <key>yashyanLig-tifi</key>
  <string>yashyanL_ig-tifi.glif</string>
  <key>yashyanLig-tifi.rtl</key>
  <string>yashyanL_ig-tifi.rtl.glif</string>
  <key>yasyatLig-tifi.v01</key>
  <string>yasyatL_ig-tifi.v01.glif</string>
  <key>yasyatLig-tifi.v01.rtl</key>
  <string>yasyatL_ig-tifi.v01.rtl.glif</string>
  <key>yaw-tifi</key>
  <string>yaw-tifi.glif</string>
  <key>yay-tifi.rtl</key>
  <string>yay-tifi.rtl.glif</string>
  <key>yay-tifi.super</key>
  <string>yay-tifi.super.glif</string>
  <key>yay-tifi.super.rtl</key>
  <string>yay-tifi.super.rtl.glif</string>
  <key>ye-tifi</key>
  <string>ye-tifi.glif</string>
  <key>yi-tifi.rtl</key>
  <string>yi-tifi.rtl.glif</string>
  <key>yi-tifi.super.rtl</key>
  <string>yi-tifi.super.rtl.glif</string>
  <key>yiyatLig-tifi.rtl</key>
  <string>yiyatL_ig-tifi.rtl.glif</string>
  <key>yu-tifi.neo</key>
  <string>yu-tifi.neo.glif</string>
  <key>yu-tifi.super</key>
  <string>yu-tifi.super.glif</string>
</dict>
</plist>
