<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>TifConsLengthMark</key>
  <string>T_ifC_onsL_engthM_ark.glif</string>
  <key>TifConsLengthMark.alt</key>
  <string>T_ifC_onsL_engthM_ark.alt.glif</string>
  <key>TifVowelMark</key>
  <string>T_ifV_owelM_ark.glif</string>
  <key>_VerticalBarJoining</key>
  <string>_V_erticalB_arJ_oining.glif</string>
  <key>_VerticalBarMedLong</key>
  <string>_V_erticalB_arM_edL_ong.glif</string>
  <key>_VerticalBarSmall</key>
  <string>_V_erticalB_arS_mall.glif</string>
  <key>separator-tifi</key>
  <string>separator-tifi.glif</string>
  <key>separator-tifi.rtl</key>
  <string>separator-tifi.rtl.glif</string>
  <key>yab-tifi</key>
  <string>yab-tifi.glif</string>
  <key>yabyatLig-tifi</key>
  <string>yabyatL_ig-tifi.glif</string>
  <key>yabyatLig-tifi.alt</key>
  <string>yabyatL_ig-tifi.alt.glif</string>
  <key>yabyatLig-tifi.rtl</key>
  <string>yabyatL_ig-tifi.rtl.glif</string>
  <key>yaghh-tifi.alt.unused</key>
  <string>yaghh-tifi.alt.unused.glif</string>
  <key>yaghhyatLig-tifi.alt.rtl</key>
  <string>yaghhyatL_ig-tifi.alt.rtl.glif</string>
  <key>yaghhyatLig-tifi.rtl</key>
  <string>yaghhyatL_ig-tifi.rtl.glif</string>
  <key>yah-tifi</key>
  <string>yah-tifi.glif</string>
  <key>yahyatLig-tifi</key>
  <string>yahyatL_ig-tifi.glif</string>
  <key>yal-tifi.raised</key>
  <string>yal-tifi.raised.glif</string>
  <key>yaryatLig-tifi.alt</key>
  <string>yaryatL_ig-tifi.alt.glif</string>
  <key>yashyanLig-tifi.rtl</key>
  <string>yashyanL_ig-tifi.rtl.glif</string>
  <key>yashyatLig-tifi.rtl</key>
  <string>yashyatL_ig-tifi.rtl.glif</string>
  <key>yasyatLig-tifi.alt</key>
  <string>yasyatL_ig-tifi.alt.glif</string>
  <key>yasyatLig-tifi.alt.rtl</key>
  <string>yasyatL_ig-tifi.alt.rtl.glif</string>
  <key>yay-tifi.super</key>
  <string>yay-tifi.super.glif</string>
  <key>yay-tifi.super.rtl</key>
  <string>yay-tifi.super.rtl.glif</string>
  <key>yazyatLig-tifi.rtl</key>
  <string>yazyatL_ig-tifi.rtl.glif</string>
  <key>yi-tifi.super.rtl</key>
  <string>yi-tifi.super.rtl.glif</string>
  <key>yiyatLig-tifi.rtl</key>
  <string>yiyatL_ig-tifi.rtl.glif</string>
  <key>yu-tifi.super</key>
  <string>yu-tifi.super.glif</string>
</dict>
</plist>
