<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Bdotbelow</key>
  <string>B_dotbelow.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CGJ</key>
  <string>C_G_J_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Ddotbelow</key>
  <string>D_dotbelow.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Ereversed</key>
  <string>E_reversed.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hdotbelow</key>
  <string>H_dotbelow.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kdotbelow</key>
  <string>K_dotbelow.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Ldotbelow</key>
  <string>L_dotbelow.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Mdotbelow</key>
  <string>M_dotbelow.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ndotbelow</key>
  <string>N_dotbelow.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Rdotbelow</key>
  <string>R_dotbelow.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Sdotbelow</key>
  <string>S_dotbelow.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tdotbelow</key>
  <string>T_dotbelow.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>TifConsLengthMark</key>
  <string>T_ifC_onsL_engthM_ark.glif</string>
  <key>TifConsLengthMark.alt</key>
  <string>T_ifC_onsL_engthM_ark.alt.glif</string>
  <key>TifVowelMark</key>
  <string>T_ifV_owelM_ark.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wdotbelow</key>
  <string>W_dotbelow.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Ydotbelow</key>
  <string>Y_dotbelow.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotbelow</key>
  <string>Z_dotbelow.glif</string>
  <key>_AltIndicator</key>
  <string>_A_ltI_ndicator.glif</string>
  <key>_Circle_Small</key>
  <string>_C_ircle_S_mall.glif</string>
  <key>_Dot</key>
  <string>_D_ot.glif</string>
  <key>_DotWide</key>
  <string>_D_otW_ide.glif</string>
  <key>_DotWideDiag</key>
  <string>_D_otW_ideD_iag.glif</string>
  <key>_HorizontalBar</key>
  <string>_H_orizontalB_ar.glif</string>
  <key>_HorizontalBarMed</key>
  <string>_H_orizontalB_arM_ed.glif</string>
  <key>_HorizontalBarMedShort</key>
  <string>_H_orizontalB_arM_edS_hort.glif</string>
  <key>_HorizontalBarMedShort1.5</key>
  <string>_H_orizontalB_arM_edS_hort1.5.glif</string>
  <key>_HorizontalBarMedShort2</key>
  <string>_H_orizontalB_arM_edS_hort2.glif</string>
  <key>_Plus</key>
  <string>_P_lus.glif</string>
  <key>_Plus.rtl</key>
  <string>_P_lus.rtl.glif</string>
  <key>_PlusHorizontal</key>
  <string>_P_lusH_orizontal.glif</string>
  <key>_PlusLong</key>
  <string>_P_lusL_ong.glif</string>
  <key>_PlusLong.rtl</key>
  <string>_P_lusL_ong.rtl.glif</string>
  <key>_PlusMedium</key>
  <string>_P_lusM_edium.glif</string>
  <key>_PlusMediumExtended</key>
  <string>_P_lusM_ediumE_xtended.glif</string>
  <key>_PlusMediumExtended.rtl</key>
  <string>_P_lusM_ediumE_xtended.rtl.glif</string>
  <key>_PlusMediumHorizontal</key>
  <string>_P_lusM_ediumH_orizontal.glif</string>
  <key>_PlusSmall</key>
  <string>_P_lusS_mall.glif</string>
  <key>_PlusVertical</key>
  <string>_P_lusV_ertical.glif</string>
  <key>_PlusVeryLong</key>
  <string>_P_lusV_eryL_ong.glif</string>
  <key>_PlusVeryLong.rtl</key>
  <string>_P_lusV_eryL_ong.rtl.glif</string>
  <key>_VerticalBar</key>
  <string>_V_erticalB_ar.glif</string>
  <key>_VerticalBarJoining</key>
  <string>_V_erticalB_arJ_oining.glif</string>
  <key>_VerticalBarMedLong</key>
  <string>_V_erticalB_arM_edL_ong.glif</string>
  <key>_VerticalBarMedium</key>
  <string>_V_erticalB_arM_edium.glif</string>
  <key>_VerticalBarShort</key>
  <string>_V_erticalB_arS_hort.glif</string>
  <key>_VerticalBarShortForTopDots</key>
  <string>_V_erticalB_arS_hortF_orT_opD_ots.glif</string>
  <key>_VerticalBarShortTop</key>
  <string>_V_erticalB_arS_hortT_op.glif</string>
  <key>_VerticalBarSmall</key>
  <string>_V_erticalB_arS_mall.glif</string>
  <key>_VerticalOval</key>
  <string>_V_erticalO_val.glif</string>
  <key>_k</key>
  <string>_k.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.sups</key>
  <string>a.sups.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecmb.cap</key>
  <string>acutecmb.cap.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bdotbelow</key>
  <string>bdotbelow.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevecmb</key>
  <string>brevecmb.glif</string>
  <key>brevecmb.cap</key>
  <string>brevecmb.cap.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncmb</key>
  <string>caroncmb.glif</string>
  <key>caroncmb.cap</key>
  <string>caroncmb.cap.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacmb</key>
  <string>cedillacmb.glif</string>
  <key>cedillacmb.cap</key>
  <string>cedillacmb.cap.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circledotted</key>
  <string>circledotted.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcmb</key>
  <string>circumflexcmb.glif</string>
  <key>circumflexcmb.cap</key>
  <string>circumflexcmb.cap.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colontriangularmod</key>
  <string>colontriangularmod.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma.latin</key>
  <string>comma.latin.glif</string>
  <key>consonantjoiner-tifi</key>
  <string>consonantjoiner-tifi.glif</string>
  <key>consonantjoiner-tifi.rtl</key>
  <string>consonantjoiner-tifi.rtl.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>ddotbelow</key>
  <string>ddotbelow.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscmb</key>
  <string>dieresiscmb.glif</string>
  <key>dieresiscmb.cap</key>
  <string>dieresiscmb.cap.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcmb</key>
  <string>dotaccentcmb.glif</string>
  <key>dotbelowcmb</key>
  <string>dotbelowcmb.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>eturned</key>
  <string>eturned.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclam.latin</key>
  <string>exclam.latin.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gammalatin</key>
  <string>gammalatin.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecmb.cap</key>
  <string>gravecmb.cap.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>hdotbelow</key>
  <string>hdotbelow.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcmb</key>
  <string>hungarumlautcmb.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kdotbelow</key>
  <string>kdotbelow.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>ldotbelow</key>
  <string>ldotbelow.glif</string>
  <key>lefttorightembedding</key>
  <string>lefttorightembedding.glif</string>
  <key>lefttorightmark</key>
  <string>lefttorightmark.glif</string>
  <key>lefttorightoverride</key>
  <string>lefttorightoverride.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lineseparator</key>
  <string>lineseparator.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncmb</key>
  <string>macroncmb.glif</string>
  <key>mdotbelow</key>
  <string>mdotbelow.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>narrownbspace</key>
  <string>narrownbspace.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>ndotbelow</key>
  <string>ndotbelow.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nonbreakinghyphen</key>
  <string>nonbreakinghyphen.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.sups</key>
  <string>o.sups.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ogonekcmb</key>
  <string>ogonekcmb.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.dnom</key>
  <string>one.dnom.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>overlinecmb</key>
  <string>overlinecmb.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraphseparator</key>
  <string>paragraphseparator.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.latin</key>
  <string>period.latin.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>popdirectionalformatting</key>
  <string>popdirectionalformatting.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>rdotbelow</key>
  <string>rdotbelow.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>righttoleftembedding</key>
  <string>righttoleftembedding.glif</string>
  <key>righttoleftmark</key>
  <string>righttoleftmark.glif</string>
  <key>righttoleftoverride</key>
  <string>righttoleftoverride.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcmb</key>
  <string>ringcmb.glif</string>
  <key>ringcmb.cap</key>
  <string>ringcmb.cap.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>schwa</key>
  <string>schwa.glif</string>
  <key>sdotbelow</key>
  <string>sdotbelow.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>separator-tifi</key>
  <string>separator-tifi.glif</string>
  <key>separator-tifi.001</key>
  <string>separator-tifi.001.glif</string>
  <key>separator-tifi.rtl</key>
  <string>separator-tifi.rtl.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tdotbelow</key>
  <string>tdotbelow.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecmb.cap</key>
  <string>tildecmb.cap.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni007F</key>
  <string>uni007F_.glif</string>
  <key>uni0194</key>
  <string>uni0194.glif</string>
  <key>uni2423</key>
  <string>uni2423.glif</string>
  <key>uniFE00</key>
  <string>uniF_E_00.glif</string>
  <key>uniFE01</key>
  <string>uniF_E_01.glif</string>
  <key>uniFE02</key>
  <string>uniF_E_02.glif</string>
  <key>uniFE03</key>
  <string>uniF_E_03.glif</string>
  <key>uniFE04</key>
  <string>uniF_E_04.glif</string>
  <key>uniFE05</key>
  <string>uniF_E_05.glif</string>
  <key>uniFE06</key>
  <string>uniF_E_06.glif</string>
  <key>uniFE07</key>
  <string>uniF_E_07.glif</string>
  <key>uniFE08</key>
  <string>uniF_E_08.glif</string>
  <key>uniFE09</key>
  <string>uniF_E_09.glif</string>
  <key>uniFE0A</key>
  <string>uniF_E_0A_.glif</string>
  <key>uniFE0B</key>
  <string>uniF_E_0B_.glif</string>
  <key>uniFE0C</key>
  <string>uniF_E_0C_.glif</string>
  <key>uniFE0D</key>
  <string>uniF_E_0D_.glif</string>
  <key>uniFE0E</key>
  <string>uniF_E_0E_.glif</string>
  <key>uniFE0F</key>
  <string>uniF_E_0F_.glif</string>
  <key>uniFEFF</key>
  <string>uniF_E_F_F_.glif</string>
  <key>uniFFFC</key>
  <string>uniF_F_F_C_.glif</string>
  <key>uniFFFD</key>
  <string>uniF_F_F_D_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wdotbelow</key>
  <string>wdotbelow.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya-tifi</key>
  <string>ya-tifi.glif</string>
  <key>ya-tifi.alt</key>
  <string>ya-tifi.alt.glif</string>
  <key>ya-tifi.super</key>
  <string>ya-tifi.super.glif</string>
  <key>yab-tifi</key>
  <string>yab-tifi.glif</string>
  <key>yabyatLig-tifi</key>
  <string>yabyatL_ig-tifi.glif</string>
  <key>yabyatLig-tifi.alt</key>
  <string>yabyatL_ig-tifi.alt.glif</string>
  <key>yabyatLig-tifi.rtl</key>
  <string>yabyatL_ig-tifi.rtl.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yad-tifi</key>
  <string>yad-tifi.glif</string>
  <key>yadd-tifi</key>
  <string>yadd-tifi.glif</string>
  <key>yadd-tifi.rtl</key>
  <string>yadd-tifi.rtl.glif</string>
  <key>yadh-tifi</key>
  <string>yadh-tifi.glif</string>
  <key>yadh-tifi.alt</key>
  <string>yadh-tifi.alt.glif</string>
  <key>yadh-tifi.unused</key>
  <string>yadh-tifi.unused.glif</string>
  <key>yaf-tifi</key>
  <string>yaf-tifi.glif</string>
  <key>yaf-tifi.alt</key>
  <string>yaf-tifi.alt.glif</string>
  <key>yafyatLig-tifi</key>
  <string>yafyatL_ig-tifi.glif</string>
  <key>yafyatLig-tifi.alt</key>
  <string>yafyatL_ig-tifi.alt.glif</string>
  <key>yafyatLig-tifi.alt.rtl</key>
  <string>yafyatL_ig-tifi.alt.rtl.glif</string>
  <key>yafyatLig-tifi.alt2</key>
  <string>yafyatL_ig-tifi.alt2.glif</string>
  <key>yafyatLig-tifi.alt2.rtl</key>
  <string>yafyatL_ig-tifi.alt2.rtl.glif</string>
  <key>yafyatLig-tifi.rtl</key>
  <string>yafyatL_ig-tifi.rtl.glif</string>
  <key>yaghTuareg-tifi</key>
  <string>yaghT_uareg-tifi.glif</string>
  <key>yaghh-tifi</key>
  <string>yaghh-tifi.glif</string>
  <key>yaghh-tifi.alt</key>
  <string>yaghh-tifi.alt.glif</string>
  <key>yaghh-tifi.alt.unused</key>
  <string>yaghh-tifi.alt.unused.glif</string>
  <key>yaghhyatLig-tifi</key>
  <string>yaghhyatL_ig-tifi.glif</string>
  <key>yaghhyatLig-tifi.alt</key>
  <string>yaghhyatL_ig-tifi.alt.glif</string>
  <key>yaghhyatLig-tifi.alt.rtl</key>
  <string>yaghhyatL_ig-tifi.alt.rtl.glif</string>
  <key>yaghhyatLig-tifi.rtl</key>
  <string>yaghhyatL_ig-tifi.rtl.glif</string>
  <key>yagnTuareg-tifi</key>
  <string>yagnT_uareg-tifi.glif</string>
  <key>yagnTuareg-tifi.alt</key>
  <string>yagnT_uareg-tifi.alt.glif</string>
  <key>yah-tifi</key>
  <string>yah-tifi.glif</string>
  <key>yahTuareg-tifi</key>
  <string>yahT_uareg-tifi.glif</string>
  <key>yahyatLig-tifi</key>
  <string>yahyatL_ig-tifi.glif</string>
  <key>yahyatLig-tifi.rtl</key>
  <string>yahyatL_ig-tifi.rtl.glif</string>
  <key>yaj-tifi</key>
  <string>yaj-tifi.glif</string>
  <key>yajyatLig-tifi</key>
  <string>yajyatL_ig-tifi.glif</string>
  <key>yajyatLig-tifi.rtl</key>
  <string>yajyatL_ig-tifi.rtl.glif</string>
  <key>yakTuareg-tifi</key>
  <string>yakT_uareg-tifi.glif</string>
  <key>yakTuareg-tifi.orig</key>
  <string>yakT_uareg-tifi.orig.glif</string>
  <key>yakTuareg-tifi.rtl</key>
  <string>yakT_uareg-tifi.rtl.glif</string>
  <key>yakTuareg-tifi.unused.001</key>
  <string>yakT_uareg-tifi.unused.001.glif</string>
  <key>yakTuareg-tifi.unused.002</key>
  <string>yakT_uareg-tifi.unused.002.glif</string>
  <key>yakhTuareg-tifi</key>
  <string>yakhT_uareg-tifi.glif</string>
  <key>yal-tifi</key>
  <string>yal-tifi.glif</string>
  <key>yal-tifi.raised</key>
  <string>yal-tifi.raised.glif</string>
  <key>yal-tifi.slant</key>
  <string>yal-tifi.slant.glif</string>
  <key>yal-tifi.slant.rtl</key>
  <string>yal-tifi.slant.rtl.glif</string>
  <key>yalyakTuaregLig-tifi</key>
  <string>yalyakT_uaregL_ig-tifi.glif</string>
  <key>yalyatLig-tifi</key>
  <string>yalyatL_ig-tifi.glif</string>
  <key>yalyatLig-tifi.alt</key>
  <string>yalyatL_ig-tifi.alt.glif</string>
  <key>yalyatLig-tifi.rtl</key>
  <string>yalyatL_ig-tifi.rtl.glif</string>
  <key>yam-tifi</key>
  <string>yam-tifi.glif</string>
  <key>yam-tifi.rtl</key>
  <string>yam-tifi.rtl.glif</string>
  <key>yamyatLig-tifi</key>
  <string>yamyatL_ig-tifi.glif</string>
  <key>yamyatLig-tifi.alt</key>
  <string>yamyatL_ig-tifi.alt.glif</string>
  <key>yamyatLig-tifi.alt.rtl</key>
  <string>yamyatL_ig-tifi.alt.rtl.glif</string>
  <key>yamyatLig-tifi.rtl</key>
  <string>yamyatL_ig-tifi.rtl.glif</string>
  <key>yan-tifi</key>
  <string>yan-tifi.glif</string>
  <key>yan-tifi.raised</key>
  <string>yan-tifi.raised.glif</string>
  <key>yan-tifi.slant</key>
  <string>yan-tifi.slant.glif</string>
  <key>yan-tifi.slant.rtl</key>
  <string>yan-tifi.slant.rtl.glif</string>
  <key>yangTuareg-tifi</key>
  <string>yangT_uareg-tifi.glif</string>
  <key>yanyadLig-tifi</key>
  <string>yanyadL_ig-tifi.glif</string>
  <key>yanyadhLig-tifi</key>
  <string>yanyadhL_ig-tifi.glif</string>
  <key>yanyafLig-tifi</key>
  <string>yanyafL_ig-tifi.glif</string>
  <key>yanyafLig-tifi.alt</key>
  <string>yanyafL_ig-tifi.alt.glif</string>
  <key>yanyaghhLig-tifi</key>
  <string>yanyaghhL_ig-tifi.glif</string>
  <key>yanyaghhLig-tifi.alt</key>
  <string>yanyaghhL_ig-tifi.alt.glif</string>
  <key>yanyajLig-tifi</key>
  <string>yanyajL_ig-tifi.glif</string>
  <key>yanyakTuaregLig-tifi</key>
  <string>yanyakT_uaregL_ig-tifi.glif</string>
  <key>yanyakTuaregLig-tifi.alt</key>
  <string>yanyakT_uaregL_ig-tifi.alt.glif</string>
  <key>yanyasLig-tifi</key>
  <string>yanyasL_ig-tifi.glif</string>
  <key>yanyasLig-tifi.rtl</key>
  <string>yanyasL_ig-tifi.rtl.glif</string>
  <key>yanyashLig-tifi</key>
  <string>yanyashL_ig-tifi.glif</string>
  <key>yanyashLig-tifi.rtl</key>
  <string>yanyashL_ig-tifi.rtl.glif</string>
  <key>yanyatLig-tifi</key>
  <string>yanyatL_ig-tifi.glif</string>
  <key>yanyatLig-tifi.alt</key>
  <string>yanyatL_ig-tifi.alt.glif</string>
  <key>yanyatLig-tifi.alt.rtl</key>
  <string>yanyatL_ig-tifi.alt.rtl.glif</string>
  <key>yanyatLig-tifi.alt2</key>
  <string>yanyatL_ig-tifi.alt2.glif</string>
  <key>yanyatLig-tifi.rtl</key>
  <string>yanyatL_ig-tifi.rtl.glif</string>
  <key>yaqTuareg-tifi</key>
  <string>yaqT_uareg-tifi.glif</string>
  <key>yar-tifi</key>
  <string>yar-tifi.glif</string>
  <key>yaryakTuaregLig-tifi</key>
  <string>yaryakT_uaregL_ig-tifi.glif</string>
  <key>yaryatLig-tifi</key>
  <string>yaryatL_ig-tifi.glif</string>
  <key>yaryatLig-tifi.alt</key>
  <string>yaryatL_ig-tifi.alt.glif</string>
  <key>yaryatLig-tifi.alt2</key>
  <string>yaryatL_ig-tifi.alt2.glif</string>
  <key>yaryatLig-tifi.rtl</key>
  <string>yaryatL_ig-tifi.rtl.glif</string>
  <key>yas-tifi</key>
  <string>yas-tifi.glif</string>
  <key>yash-tifi</key>
  <string>yash-tifi.glif</string>
  <key>yash-tifi.rtl</key>
  <string>yash-tifi.rtl.glif</string>
  <key>yashyakTuaregLig-tifi</key>
  <string>yashyakT_uaregL_ig-tifi.glif</string>
  <key>yashyakTuaregLig-tifi.rtl</key>
  <string>yashyakT_uaregL_ig-tifi.rtl.glif</string>
  <key>yashyatLig-tifi</key>
  <string>yashyatL_ig-tifi.glif</string>
  <key>yashyatLig-tifi.rtl</key>
  <string>yashyatL_ig-tifi.rtl.glif</string>
  <key>yass-tifi</key>
  <string>yass-tifi.glif</string>
  <key>yasyakTuaregLig-tifi</key>
  <string>yasyakT_uaregL_ig-tifi.glif</string>
  <key>yasyatLig-tifi</key>
  <string>yasyatL_ig-tifi.glif</string>
  <key>yasyatLig-tifi.alt</key>
  <string>yasyatL_ig-tifi.alt.glif</string>
  <key>yasyatLig-tifi.alt.rtl</key>
  <string>yasyatL_ig-tifi.alt.rtl.glif</string>
  <key>yasyatLig-tifi.alt2</key>
  <string>yasyatL_ig-tifi.alt2.glif</string>
  <key>yasyatLig-tifi.alt2.rtl</key>
  <string>yasyatL_ig-tifi.alt2.rtl.glif</string>
  <key>yasyatLig-tifi.rtl</key>
  <string>yasyatL_ig-tifi.rtl.glif</string>
  <key>yat-tifi</key>
  <string>yat-tifi.glif</string>
  <key>yatt-tifi</key>
  <string>yatt-tifi.glif</string>
  <key>yatt-tifi.rtl</key>
  <string>yatt-tifi.rtl.glif</string>
  <key>yay-tifi</key>
  <string>yay-tifi.glif</string>
  <key>yay-tifi.rtl</key>
  <string>yay-tifi.rtl.glif</string>
  <key>yay-tifi.super</key>
  <string>yay-tifi.super.glif</string>
  <key>yay-tifi.super.rtl</key>
  <string>yay-tifi.super.rtl.glif</string>
  <key>yaz-tifi</key>
  <string>yaz-tifi.glif</string>
  <key>yaz-tifi.alt</key>
  <string>yaz-tifi.alt.glif</string>
  <key>yazhAhaggar-tifi</key>
  <string>yazhA_haggar-tifi.glif</string>
  <key>yazhAhaggar-tifi.alt</key>
  <string>yazhA_haggar-tifi.alt.glif</string>
  <key>yazhAhaggaryatLig-tifi</key>
  <string>yazhA_haggaryatL_ig-tifi.glif</string>
  <key>yazhAhaggaryatLig-tifi.alt</key>
  <string>yazhA_haggaryatL_ig-tifi.alt.glif</string>
  <key>yazhAhaggaryatLig-tifi.alt.rtl</key>
  <string>yazhA_haggaryatL_ig-tifi.alt.rtl.glif</string>
  <key>yazhAhaggaryatLig-tifi.rtl</key>
  <string>yazhA_haggaryatL_ig-tifi.rtl.glif</string>
  <key>yazhTuareg-tifi</key>
  <string>yazhT_uareg-tifi.glif</string>
  <key>yazhyatLig-tifi</key>
  <string>yazhyatL_ig-tifi.glif</string>
  <key>yazhyatLig-tifi.alt</key>
  <string>yazhyatL_ig-tifi.alt.glif</string>
  <key>yazhyatLig-tifi.alt.rtl</key>
  <string>yazhyatL_ig-tifi.alt.rtl.glif</string>
  <key>yazhyatLig-tifi.alt2</key>
  <string>yazhyatL_ig-tifi.alt2.glif</string>
  <key>yazhyatLig-tifi.rtl</key>
  <string>yazhyatL_ig-tifi.rtl.glif</string>
  <key>yazyatLig-tifi</key>
  <string>yazyatL_ig-tifi.glif</string>
  <key>yazyatLig-tifi.alt</key>
  <string>yazyatL_ig-tifi.alt.glif</string>
  <key>yazyatLig-tifi.alt.rtl</key>
  <string>yazyatL_ig-tifi.alt.rtl.glif</string>
  <key>yazyatLig-tifi.rtl</key>
  <string>yazyatL_ig-tifi.rtl.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>ydotbelow</key>
  <string>ydotbelow.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yi-tifi</key>
  <string>yi-tifi.glif</string>
  <key>yi-tifi.rtl</key>
  <string>yi-tifi.rtl.glif</string>
  <key>yi-tifi.super</key>
  <string>yi-tifi.super.glif</string>
  <key>yi-tifi.super.rtl</key>
  <string>yi-tifi.super.rtl.glif</string>
  <key>yiyatLig-tifi</key>
  <string>yiyatL_ig-tifi.glif</string>
  <key>yiyatLig-tifi.rtl</key>
  <string>yiyatL_ig-tifi.rtl.glif</string>
  <key>yo-tifi</key>
  <string>yo-tifi.glif</string>
  <key>yo-tifi.super</key>
  <string>yo-tifi.super.glif</string>
  <key>yu-tifi</key>
  <string>yu-tifi.glif</string>
  <key>yu-tifi.alt</key>
  <string>yu-tifi.alt.glif</string>
  <key>yu-tifi.super</key>
  <string>yu-tifi.super.glif</string>
  <key>yuyatLig-tifi</key>
  <string>yuyatL_ig-tifi.glif</string>
  <key>yuyatLig-tifi.alt</key>
  <string>yuyatL_ig-tifi.alt.glif</string>
  <key>yuyatLig-tifi.alt.rtl</key>
  <string>yuyatL_ig-tifi.alt.rtl.glif</string>
  <key>yuyatLig-tifi.alt2</key>
  <string>yuyatL_ig-tifi.alt2.glif</string>
  <key>yuyatLig-tifi.alt2.rtl</key>
  <string>yuyatL_ig-tifi.alt2.rtl.glif</string>
  <key>yuyatLig-tifi.rtl</key>
  <string>yuyatL_ig-tifi.rtl.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zdotbelow</key>
  <string>zdotbelow.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.dnom</key>
  <string>zero.dnom.glif</string>
  <key>zerowidthjoiner</key>
  <string>zerowidthjoiner.glif</string>
  <key>zerowidthnonjoiner</key>
  <string>zerowidthnonjoiner.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
</dict>
</plist>
